<% provide(:page_title, 'New List') %>
<% provide(:list_active, 'active') %> <%# Will pass the active status to the _navbar.html.erb class: "nav-link #{yield(:list_active)}", specifying in this particular case that the List tab should be active %>

<h1>New List</h1>

<%= render 'form', list: @list %>

<%= link_to 'Back', lists_path %>
