   .navbar {
        border-radius: 0;
        margin-bottom: 20px;        
        background-color: #7df281;
           
            .navbar-brand {
                font-weight: bolder;
                .different {
                    font-weight: 50;
                    color: #f75656;                
                }
            }
                        
            .navbar-toggler {
                border: 1px solid; //this will give the border to the toggle button
            }
            
            .nav-link {
                  color: primary-color-light !important;
                  &.active {
                    color: black !important; // Changing the color when the tab/link is active
                  }
            }
    }