

<nav class="navbar navbar-expand-md "> <%#<nav class="navbar-expand-md will expand from medium screen size up %>

<%# Brand %>
    <a class = 'navbar-brand' href='/'> <%# href='/' will point to the same root define in routers %>
     List<span class = different '>is </span><%# Will divide the brand name into two parts allowing me to give two different colors %>
    </a>

<%# Toggle button %>
  <button class="navbar-toggler navbar-toggler-right navbar-light " type="button" data-toggle="collapse" data-target="#collapsingnavbar" aria-controls="collapsingnavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsingnavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
</nav>



